# Servidor
PORT=3000
EXTERNAL_PORT=4000

# Base de Datos
PGUSER=tu_usuario_aqui
PGPASSWORD=tu_contraseña_aqui
PGDATABASE=nombre_db_aqui
PGHOST=db
PGPORT=5432
EXTERNAL_PGPORT=5433
PGDIALECT=postgres

# Seguridad
SECRET_JWT_KEY=cambiame_por_algo_seguro